body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

h1 {
    color: #333;
    margin: 20px;
}

#app {
    max-width: 400px;
    margin: auto;
}

input, button {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}

button {
    cursor: pointer;
}

#habitList {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.habit-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.habit-item.completed {
    text-decoration: line-through;
    color: gray;
}
